<div id="articles">
  <h1>Articles</h1>
        <div class="article-list">
          {{#if articles}}
            <ul>
              {{#each articles}}
              <li data-id={{this._id}}>
                <div class="list-wrap">
                  <h3>{{this.title}}</h3>
                  <p>{{this.date}}</p>
                  <p>{{this.preview}}</p>
                  <a href="{{this.link}}">See More</a>
                </div>
              </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
</div>

<div id="notes">
  <h1>Notes</h1>

  <div id="note-box"></div>

</div>
